@import "../../../../assets/css/molstar.css";

:host {
  flex: 1;
  display: flex;
  width: 100%;
}

$padding: 16px;
$plot-width: 700px;
$full-width: calc($padding * 2.5 + $plot-width);
$horizontal-gap: 17px;

.horizontal-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: $horizontal-gap;
}

.icon-text-wrap {
  display: flex;
  flex-flow: row nowrap;
  height: fit-content;
  gap: 17px;

  .text {
    flex-grow: 1;
    display: flex;

    div {
      margin: auto 0;
    }
  }
}


.pdb-entry-wrapper {
  max-width: $full-width;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: $horizontal-gap;
  margin: 0 auto;
}

mat-accordion {
  margin: 0 !important;
}

.text-secondary {
  color: #777777;
}

.status {
  margin: auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.filter-wrapper {
  display: inline-flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}

.return-to-selection {
  position: absolute;
}

.expansion-panel {
  //width: calc($padding * 2.5 + $plot-width);
  width: 100%;
}


.form-settings {
  overflow-x: auto;
  padding-bottom: 8px;
  section {
    margin-bottom: 4px;
  }
}

.plot-wrapper {
  display: flex;
  plotly-plot {
    margin: auto;
  }
}

.viewer {
  position: relative;
  left: 10px;
  top: 10px;
  width: auto;
  height: 800px;
  margin-top: 110px;
  margin-bottom: 320px;
}

.viewer-expansion {
  background-color: #ecf2f8;

  mat-expansion-panel-header {
    background-color: white;
  }
}

mat-accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.mat-expansion-panel-body {
  overflow: scroll!important;
}

@media (max-width: 575.98px) {
}

